# This file should be created by Android Studio automatically
# sdk.dir=YOUR_SDK_PATH
# Uncomment and set your Android SDK path if needed
# sdk.dir=C\:\\Users\\YourUsername\\AppData\\Local\\Android\\Sdk
